<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
    internalLogLevel="Error"
    internalLogFile="C:/RaptorErrorLogs/WebSort-Inner-log.txt">

	<targets>
		<target name="database" xsi:type="Database" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=RaptorWebSort;Integrated Security=True">

			<!--
				  Script for creating the dbo.Log table.

				  SET ANSI_NULLS ON
				  SET QUOTED_IDENTIFIER ON
				  CREATE TABLE [dbo].[ErrorLogs] (
					  [Id] [int] IDENTITY(1,1) NOT NULL,
					  [MachineName] [nvarchar](50) NOT NULL,
					  [Logged] [datetime] NOT NULL,
					  [Level] [nvarchar](50) NOT NULL,
					  [Message] [nvarchar](max) NOT NULL,
					  [Exception] [nvarchar](max) NULL,
					CONSTRAINT [PK_dbo.ErrorLogs] PRIMARY KEY CLUSTERED ([Id] ASC)
					  WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
				  ) ON [PRIMARY]
			  -->

			<commandText>
				insert into dbo.ErrorLogs (
				MachineName, Logged, Level, Message, Exception
				) values (
				@MachineName, @Logged, @Level, @Message, @Exception
				); DELETE FROM ErrorLogs WHERE ID &lt; (SELECT TOP 750 max(ID) - 750 FROM ErrorLogs);
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
		<target
		  name="logfile"
		  xsi:type="File"
		  fileName="C:/RaptorErrorLogs/WebSort-${shortdate}.txt"
		  layout="-${longdate} ${level} ${callsite-linenumber} ${newline} ${message} ${newline}"
		  archiveFileName="C:/RaptorErrorLogs/WebSortArchive/${shortdate}.txt"
		  maxArchiveFiles="10"
		  archiveEvery="Day"
		  archiveAboveSize="5000000" />
		<target
		  name="Console"
		  xsi:type="Console"
		  layout="${newline}-${longdate} ${level} ${callsite}:${callsite-linenumber} ${newline}  ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="database" />
		<logger name="*" minlevel="Debug" writeTo="Console" />
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>
</nlog>