<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
    internalLogLevel="Error"
    internalLogFile="C:\RaptorErrorLogs\Dashboard_Inner-log.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets async="true">
    <target
      name="jsonFile"
      type="File"
      fileName="C:\RaptorErrorLogs\Dashboard_${shortdate}.json"
      archiveFileName="C:\RaptorErrorLogs\Archive\Dashboard_${shortdate}.{##}.json"
      archiveNumbering="Sequence"
      archiveEvery="Day"
      maxArchiveFiles="15">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="linenumber" layout="${callsite-linenumber}" />
        <attribute name="message" layout="${message}" encode="false" />
        <attribute name="exception" layout="${exception}"/>
      </layout>
    </target>
    <target xsi:type="ColoredConsole"
			name="Console"
			layout="-${longdate} | ${level} | ${callsite:includeNamespace=false}${newline}  ${message}${newline}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console" />
    <logger name="*" minlevel="Error" writeTo="jsonFile" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>