#vue-content:focus {
    outline: none;
}

#vue-content {
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 3px 5px;
    margin: -4px 0px;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}

.check {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

    .check:after {
        font-weight: bold;
        content: "\2610";
        color: #455a64;
        display: block;
        font-size: 16px;
    }

    .check:checked:after {
        content: "\2714";
        color: var(--success);
        font-size: 16px;
    }

.checkboxlist label {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.checkboxlist input {
    width: 15px !important;
}

.checkboxlist {
    text-align: left !important;
    padding: 0.25rem !important;
    font-size: 0.85rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.selection-container {
    max-height: 200px;
    position: relative;
    z-index: 100;
    overflow-y: auto;
    margin-top:3px;
}

.selection-list {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

    .selection-list:hover {
        background-color: var(--accent);
    }

.no-hover:hover {
    background-color: var(--bg-primary) !important;
}

.no-hover {
    background-color: var(--bg-primary) !important;
}

.full-size {
    width: 100%;
    height: 100%;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-gap: 0.25rem 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

    .product-grid .checkboxlist:hover {
        background-color: var(--tbl-secondary);
    }
.length-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50% 50%;
}
    .length-grid .checkboxlist:hover {
        background-color: var(--tbl-secondary);
    }

.top-row {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.above-table {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.auto-grid {
    display: grid;
    grid-gap: 0.25rem;
}
.recipe-btn-grid {
    display: grid;
    grid-gap: 0rem 0.5rem;
    grid-template-columns: 75px 50px auto 40px 40px;
}
.confirm-recipe {
    display: grid;
    grid-gap: 0.25rem 0rem;
    grid-template-rows: auto;
}
.btn-matrix {
    flex: 0 1 250px;
    max-height: 47px;
}
.sort-controls {
    flex: 0 1 400px;
    max-height: 119px;
}
.accordion-container {
    flex: 0 1 700px;
}

.accordion {
    background-color: var(--raptor);
    color: var(--grey-000);
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0px 5px 5px 2px var(--shadow);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.25s;
    justify-content: space-between;
    display: flex;
}

    .active, .accordion:hover {
        background-color: var(--raptor-light) !important;
        color: var(--grey-000) !important;
    }

.panel {
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: var(--bg-secondary);
    overflow: hidden;
}
.panel-grid {
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: auto;
    padding: 1rem 0rem;
}
    .panel-grid button {
        padding: 0.5rem;
        background-color: var(--bg-primary);
        color: var(--text-primary);
        border: none;
        outline: none;
    }
        .panel-grid button:hover {
            background-color: var(--raptor);
            color: var(--grey-000) !important;
            cursor: pointer;
        }
.panel-grid button:disabled {
    background-color: grey;
}

    .panel-grid button:disabled:hover {
        background-color: grey;
        cursor:pointer;
    }
.btn-icon{
    margin:0 auto;
}
.controls-grid {
    display: grid;
    grid-gap: 1rem 0.5rem;
    grid-template-columns: auto auto auto;
}

.and-or {
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: -ms-flexbox !important;
    display: flex !important;
    font-size: 1rem;
    padding: 0rem 0.25rem;
    flex: 0 1 5%;
    color: var(--text-primary);
} 

.table th{
    white-space:normal;
}

.stamp-container {
    display:flex;
    flex-wrap:nowrap;
}
.stamp-inner-container {
    display: grid;
    grid-template-columns: 25px auto;
    align-items:center;
}
.stamp-inner-container label {
    cursor: pointer;
}

.btn-add-recipe {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Loader*/
.lds-ellipsis {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .5s ease;
}

.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.list-complete-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
}

.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}

.list-complete-leave-active {
    position: absolute;
}